<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fun_demo_view/src/main/java/com/view_demo_fun/fun_demo_view/FunDemoViewApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.view_demo_fun.fun_demo_view.FunDemoViewApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fun_demo_view"/>
<booleanAttribute key="spring.boot.livebean.enable" value="true"/>
<stringAttribute key="spring.boot.livebean.port" value="54348"/>
</launchConfiguration>
