<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mvc_final/src/main/java/com/mvc_demo_final/mvc_final/MvcFinalApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mvc_demo_final.mvc_final.MvcFinalApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mvc_final"/>
</launchConfiguration>
